@import "/fonts/PT-Root-UI_Bold.css";
@import "/fonts/PT-Root-UI_Light.css";
@import "/fonts/PT-Root-UI_Medium.css";
@import "/fonts/PT-Root-UI_Regular.css";
@import "./reset.css";

:root {
  font-family: "PT Root UI", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none
}